{% load static %}
{% load thumbnail %}

<div class="ui sticky fixed  menu">
    <div class="ui container">
        <a href="/" class="borderless header item">
            <img class="logo" src="{% static 'img/logo1.png' %}">
            菜谱网
        </a>
        <div class="v-header-extra">
 <form action="/video/search_img/" method="POST" enctype="multipart/form-data" class="ui large green label" >
        <!-- 隐藏的CSRF令牌，如果你的应用使用了Django等框架 -->
        {% csrf_token %}

        <!-- 文件上传输入控件 -->
        <i class="upload icon" ></i><input type="file" id="fileInput" name="fileToUpload" accept="image/*,.pdf">

        <!-- 提交按钮 -->
        <button type="submit" class="prompt">图片搜索</button>
    </form>
            <div class="ui small icon input v-video-search">

<!--                        <label class="ui large green label"  >-->
<!--                            <i class="upload icon" ></i> 图片搜索-->

<!--                        </label>-->
<!--                        <span id="file_is_choose" class="n">文件已选择</span>-->

                <input class="prompt" value="{{ q }}" type="text" placeholder="搜索菜谱" id="v-search">
                <i id="search" class="search icon" style="cursor:pointer;"></i>
            </div>

            {% if user.is_authenticated %}
            <div class="ui inline dropdown" id="v-header-avatar" style="">
                <div class="" style="display:inline-block;font-weight:bold;">
                    {% thumbnail user.avatar "200x200" crop="center" as im %}
                    <img class="ui avatar image" src="{{ im.url }}">
                    {% empty %}
                    <img class="ui avatar image" src="{% static 'img/img_default_avatar.png' %}">
                    {% endthumbnail %}
                    {{ user.username }}
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" onclick="window.location='{% url 'users:profile' user.pk %}';">
                        <i class="user icon"></i>
                        <span>个人资料</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'users:collect_videos' user.pk %}';">
                        <i class="bookmark icon"></i>
                        <span>我的收藏</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'users:like_videos' user.pk %}';">
                        <i class="heart icon"></i>
                        <span>我的喜欢</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'users:logout' %}';">
                        <i class="sign-out icon"></i>
                        <span>退出</span>
                    </div>
                </div>
            </div>
            {% else %}
            <a class="ui tiny secondary basic button" id="v-header-login" href="{% url 'users:login' %}?next={{ request.path }}">登录</a>
            {% endif %}

        </div>
    </div>
</div>